{% extends 'main.html' %}

{% load static %}

{% block content %}
    <!-- <script>
        var numbTurnCredential = '{{numb_turn_credential}}';
        var numbTurnUsername = '{{numb_turn_username}}';
    </script> -->
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="{% static 'js/peer.js' %}"></script>
{% endblock %}